streamlit==1.44.1
spacy==3.8.5
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
nltk==3.9.1
rake-nltk==1.0.6
transformers==4.51.3
torch==2.6.0
sentencepiece==0.2.0
accelerate==1.6.0
